<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to Error</title>
<link th:href="@{/css/error.css}" rel="stylesheet" />
</head>
<body>
	<div class="center-top">
		<h1 style="color: red;">ERROR :</h1>
	</div>
	<div class="container">

		<table>
			<tr>
				<td>Date</td>
				<td th:text="${timestamp}" />
			</tr>
			<tr>
				<td>Path</td>
				<td th:text="${path}" />
			</tr>
			<tr>
				<td>Error</td>
				<td th:text="${error}" />
			</tr>
			<tr>
				<td>Status</td>
				<td th:text="${status}" />
			</tr>
			<tr>
				<td>Message</td>
				<td th:text="${message}" />
			</tr>
			<tr>
				<td>Exception</td>
				<td th:text="${exception}" />
			</tr>
			<tr>
				<td>Trace</td>
				<td><pre th:text="${trace}" /></td>
			</tr>
		</table>

		<!-- 
		<div th:if="${#fields.hasAnyErrors()}">
			<ul>
				<li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
			</ul>
		</div>
	 -->
	</div>
	<div class="center-bottom">
		<h1>
			<a th:href="@{/}"> Back to Index </a>
		</h1>
	</div>



</body>
</html>