<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<title>Welcome to Ruler</title>
<link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
	<div class="center-top">
		<h1>UserDetails : </h1>
		<span th:text="${name}">username</span>
		<span>-</span>
		<span th:text="${role}">authority</span>
	</div>
	<div class="container">
		<h1>
			<a href="#menu">Menu</a>
		</h1>

		<div class="popover" id="menu">
			<div class='content'>
				<a href="#" class="close"></a>
				<div class='nav'>
					<ul class='nav_list'>

						<div class='nav_list_item'>
							<li><a th:href="@{/intro}">Intro</a></li>
						</div>
						<div class='nav_list_item'>
							<li><a th:href="@{/admin}">Admin</a></li>
						</div>
						<div class='nav_list_item'>
							<li><a th:href="@{/user}">User</a></li>
						</div>
						<div  class='nav_list_item' sec:authorize="isAnonymous()">
							<li><a th:href="@{/login}">Login</a></li>
						</div>
						<div class='nav_list_item' sec:authorize="isAuthenticated()">
							<li><a href="#"
								onclick="document.getElementById('logout-form').submit();">Logout</a></li>
						</div>

						<form id="logout-form" th:action="@{/logout}" method="post">
							<input type="hidden" />
						</form>

					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>