<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Simple Login Form Example</title>
<link th:href="@{/css/login.css}" rel="stylesheet" />
	<!-- FB login -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '{your-app-id}',
				cookie     : true,
				xfbml      : true,
				version    : '{api-version}'
			});

			FB.AppEvents.logPageView();

		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="login-form">
		<form th:action="@{/login}" method="post">
			<h1>Login</h1>
			<div class="content">
				<div class="input-field">
					<input placeholder="Username" autocomplete="nope" name="username">
				</div>
				<div class="input-field">
					<input type="password" placeholder="Password"
						autocomplete="new-password" name="password">
				</div>
				<a href="#" class="link">Forgot Your Password?</a>
			</div>
			<div class="action">
				<button>Register</button>
				<button type="submit">Sign in</button>
				<button> <a th:href="@{/oauth2/authorization/google}"> Login with Google </a> </button>
				<button> <a th:href="@{/oauth2/authorization/facebook}"> Login with Facebook </a> </button>
			</div>
		</form>

	</div>
	<!-- partial -->
	<script th:src="@{/js/login.js}"></script>

</body>
</html>
